# OpenOCD configuration for STM32H562RGT6 with ST-Link V2

source [find interface/stlink-dap.cfg]

transport select dapdirect_swd

set CHIPNAME STM32H562RGTx

#All things commented out below were done so that the board does not
#need to be reset. If you want to reset the board before the program is executed
#be sure to uncomment those things and comment out the line reset_config_srst_open_drain


#set CONNECT_UNDER_RESET 1 
#set AP_NUM 0

source [find target/stm32h5x.cfg]

#reset_config srst_only srst_nogate
reset_config srst_open_drain